body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cbc0c0;
}

header {
    background: #000000;
    padding: 10px 0;
    text-align: center;
}

.site-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.subpage-title {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.subpage-intro {
    text-indent: 2em;
    margin: 20px;
}
.subpage-content {
    margin: 20px;
}

.page-content {
    margin: 20px;
}

.post-link {
    font-style: italic;
    margin-right: 10px;
}
.post-meta {
    font-size: 14px;
    color: #666666;
}

.page-stretcher img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 100%;
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.subpage-footer-return {
    color:#ffffff;
}